unpackaged/main/default/flows/Account_Generate_Sponsored_Billing_2025.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>CreateBulkSMBillingLinesInvocable</description>
        <name>INSERT_SOLS</name>
        <label>INSERT SOLS</label>
        <locationX>4428</locationX>
        <locationY>3086</locationY>
        <actionName>CreateBulkSMBillingLinesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>archived</name>
            <value>
                <elementReference>Selected_Archived_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billingType</name>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>discountAmount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>discountType</name>
            <value>
                <elementReference>Discount_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isPreconversion</name>
            <value>
                <elementReference>precon</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricerule</name>
            <value>
                <stringValue>a1C6g000001LJ79</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prorates</name>
            <value>
                <elementReference>proratesList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quarter</name>
            <value>
                <elementReference>bQuarter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms</name>
            <value>
                <elementReference>smsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>so</name>
            <value>
                <elementReference>GET_NEW_SO.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subQuarter</name>
            <value>
                <elementReference>Sub_Quarter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supress</name>
            <value>
                <elementReference>supressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timing</name>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>withDiscount</name>
            <value>
                <elementReference>Invoice_Has_Discount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>year</name>
            <value>
                <elementReference>varYEAR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateBulkSMBillingLinesInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Selected_1QFULL_Prorate_List</name>
        <label>Selected 1QFULL Prorate List</label>
        <locationX>2494</locationX>
        <locationY>2470</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apply_Discount</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Select_1QFull_PRORATE_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>supressList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Selected_ALL_Prorate_List</name>
        <label>Selected ALL Prorate List</label>
        <locationX>3477</locationX>
        <locationY>2474</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apply_Discount</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Select_ALL_PRORATE_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>supressList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Selected_Archived_List</name>
        <label>Selected Archived List</label>
        <locationX>4915</locationX>
        <locationY>2478</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Procced_or_Next_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Select_Archived_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Selected_Prorate_List</name>
        <label>Selected Prorate List</label>
        <locationX>4016</locationX>
        <locationY>2486</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apply_Discount</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Select_PRORATE_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>supressList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Deposit_Year</name>
        <label>Assign Deposit Year</label>
        <locationX>4304</locationX>
        <locationY>1041</locationY>
        <assignmentItems>
            <assignToReference>varYEAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTiming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Timing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bQuarter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Quarter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deposit_Year_0</name>
        <label>Assign Deposit Year</label>
        <locationX>2500</locationX>
        <locationY>1432</locationY>
        <assignmentItems>
            <assignToReference>varYEAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTiming</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SubQuarter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Year</name>
        <label>Assign Item Year</label>
        <locationX>4645</locationX>
        <locationY>1041</locationY>
        <assignmentItems>
            <assignToReference>varYEAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Year_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTiming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Timing_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bQuarter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Billing_Quarter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prorate_var</name>
        <label>assign prorate var</label>
        <locationX>1984</locationX>
        <locationY>2025</locationY>
        <assignmentItems>
            <assignToReference>hasProrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proratesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1QFull_Non_1Q.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prorate_var_0</name>
        <label>assign prorate var</label>
        <locationX>2943</locationX>
        <locationY>2024</locationY>
        <assignmentItems>
            <assignToReference>hasProrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proratesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1QFull_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_vars_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prorate_var_0_0</name>
        <label>assign prorate var</label>
        <locationX>3207</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>hasProrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proratesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_Sponsor_Org.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_vars_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prorate_var_0_0_0</name>
        <label>assign prorate var</label>
        <locationX>3759</locationX>
        <locationY>2029</locationY>
        <assignmentItems>
            <assignToReference>hasProrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proratesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sponsor_Org.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_vars_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prorate_var_0_0_0_0</name>
        <label>assign prorate var</label>
        <locationX>5224</locationX>
        <locationY>1999</locationY>
        <assignmentItems>
            <assignToReference>hasProrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proratesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Item_SM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_vars_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prorate_var_0_0_0_0_0</name>
        <label>assign prorate var</label>
        <locationX>1482</locationX>
        <locationY>2033</locationY>
        <assignmentItems>
            <assignToReference>hasProrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proratesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1QFull_CONVERT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_vars_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars</name>
        <label>assign vars</label>
        <locationX>2115</locationX>
        <locationY>2123</locationY>
        <assignmentItems>
            <assignToReference>smsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1QFull_Non_1Q.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1QFull_Non_1Q</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0</name>
        <label>assign vars</label>
        <locationX>2811</locationX>
        <locationY>2129</locationY>
        <assignmentItems>
            <assignToReference>smsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1QFull_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1QFull_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0_0</name>
        <label>assign vars</label>
        <locationX>3326</locationX>
        <locationY>2117</locationY>
        <assignmentItems>
            <assignToReference>smsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_Sponsor_Org.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_Sponsor_Org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0_0_0</name>
        <label>assign vars</label>
        <locationX>3878</locationX>
        <locationY>2106</locationY>
        <assignmentItems>
            <assignToReference>smsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sponsor_Org.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sponsor_Org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0_0_0_0</name>
        <label>assign vars</label>
        <locationX>5072</locationX>
        <locationY>2095</locationY>
        <assignmentItems>
            <assignToReference>smsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Item_SM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Item_SM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0_0_0_0_0</name>
        <label>assign vars</label>
        <locationX>1613</locationX>
        <locationY>2131</locationY>
        <assignmentItems>
            <assignToReference>smsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1QFull_CONVERT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1QFull_CONVERT</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choicesQuarterALL</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>discountDollars</name>
        <choiceText>Amount ($)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>discountPercentage</name>
        <choiceText>Percentage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Percentage</stringValue>
        </value>
    </choices>
    <choices>
        <name>selectProrateChoices_ADDALL</name>
        <choiceText>Add All Prorate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add All Prorate</stringValue>
        </value>
    </choices>
    <choices>
        <name>selectProrateChoices_EXCLUDEALL</name>
        <choiceText>Exclude All Prorate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclude All Prorate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_1QFull</name>
        <label>Check 1QFull</label>
        <locationX>4470</locationX>
        <locationY>1205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1QFull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1QFull</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Deposit_Year_0</targetReference>
            </connector>
            <label>1QFull</label>
        </rules>
        <rules>
            <name>All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ALL_Sponsoring_Relationship</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>Other_Qs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Quarter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1QFull</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Quarter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sponsoring_Relationship</targetReference>
            </connector>
            <label>Other Qs</label>
        </rules>
        <rules>
            <name>Item_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ITEM_Sponsoring_Relationship</targetReference>
            </connector>
            <label>Item Based</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Billing_Type</name>
        <label>Check Billing Type</label>
        <locationX>4472</locationX>
        <locationY>847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Information_0</targetReference>
            </connector>
            <label>Item</label>
        </rules>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Information</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Discount</name>
        <label>Check Discount</label>
        <locationX>4935</locationX>
        <locationY>2958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Has_Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Discount_Item</targetReference>
            </connector>
            <label>W Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_1QFull</name>
        <label>Check Get 1QFull</label>
        <locationX>2667</locationX>
        <locationY>1832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Get_1QFull_Non_1Q_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsoring_Relationship_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1QFull_Members</targetReference>
            </connector>
            <label>W Get 1QFull</label>
        </rules>
        <rules>
            <name>WO_Get_1QFull_Non_1Q_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsoring_Relationship_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_0</targetReference>
            </connector>
            <label>WO Get 1QFull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_1QFull_Non_1Q</name>
        <label>Check Get 1QFull Non 1Q</label>
        <locationX>2274</locationX>
        <locationY>1837</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Get_1QFull_Non_1Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_1QFull_Non_1Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1QFull_Non_1Q</targetReference>
            </connector>
            <label>W Get 1QFull Non 1Q</label>
        </rules>
        <rules>
            <name>WO_Get_1QFull_Non_1Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_1QFull_Non_1Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_0</targetReference>
            </connector>
            <label>WO Get 1QFull Non 1Q</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_1QFull_Non_1Q_0</name>
        <label>Check Get 1QFull Non 1Q</label>
        <locationX>1772</locationX>
        <locationY>1845</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Get_1QFull_Non_1Q_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_1QFull_CONVERTS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1QFull_CONVERT</targetReference>
            </connector>
            <label>W Get 1QFull Non 1Q</label>
        </rules>
        <rules>
            <name>WO_Get_1QFull_Non_1Q_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_1QFull_CONVERTS</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_Message_0</targetReference>
            </connector>
            <label>WO Get 1QFull Non 1Q</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prorate_0_0</name>
        <label>Check Prorate</label>
        <locationX>2108</locationX>
        <locationY>1928</locationY>
        <defaultConnector>
            <targetReference>assign_vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IM_Prorate_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1QFull_Non_1Q.is_First_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prorate_var</targetReference>
            </connector>
            <label>IM Prorate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prorate_0_0_0</name>
        <label>Check Prorate</label>
        <locationX>1606</locationX>
        <locationY>1936</locationY>
        <defaultConnector>
            <targetReference>assign_vars_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IM_Prorate_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1QFull_CONVERT.is_First_Year__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_prorate_var_0_0_0_0_0</targetReference>
            </connector>
            <label>IM Prorate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prorate_0_0_0_0</name>
        <label>Check Prorate</label>
        <locationX>2799</locationX>
        <locationY>1923</locationY>
        <defaultConnector>
            <targetReference>assign_vars_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IM_Prorate_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1QFull_Members.is_First_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prorate_var_0</targetReference>
            </connector>
            <label>IM Prorate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prorate_0_0_0_0_0</name>
        <label>Check Prorate</label>
        <locationX>3316</locationX>
        <locationY>1933</locationY>
        <defaultConnector>
            <targetReference>assign_vars_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IM_Prorate_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ALL_Sponsor_Org.is_First_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prorate_var_0_0</targetReference>
            </connector>
            <label>IM Prorate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prorate_0_0_0_0_0_0</name>
        <label>Check Prorate</label>
        <locationX>3868</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>assign_vars_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IM_Prorate_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Sponsor_Org.is_First_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prorate_var_0_0_0</targetReference>
            </connector>
            <label>IM Prorate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prorate_0_0_0_0_0_0_0</name>
        <label>Check Prorate</label>
        <locationX>5063</locationX>
        <locationY>1906</locationY>
        <defaultConnector>
            <targetReference>assign_vars_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IM_Prorate_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Item_SM.is_First_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prorate_var_0_0_0_0</targetReference>
            </connector>
            <label>IM Prorate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sponsor_Org</name>
        <label>Check Sponsor Org</label>
        <locationX>4010</locationX>
        <locationY>1793</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Sponsor_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsoring_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Sponsor_Org</targetReference>
            </connector>
            <label>W Sponsor Org</label>
        </rules>
        <rules>
            <name>WO_Sponsor_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsoring_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>WO Sponsor Org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sponsor_Org_0</name>
        <label>Check Sponsor Org</label>
        <locationX>4903</locationX>
        <locationY>1796</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Sponsor_Org_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ITEM_Sponsoring_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Item_SM</targetReference>
            </connector>
            <label>W Sponsor Org</label>
        </rules>
        <rules>
            <name>WO_Sponsor_Org_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ITEM_Sponsoring_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_0_0</targetReference>
            </connector>
            <label>WO Sponsor Org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sponsor_Org_0_0</name>
        <label>Check Sponsor Org</label>
        <locationX>3463</locationX>
        <locationY>1826</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Sponsor_Org_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ALL_Sponsoring_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ALL_Sponsor_Org</targetReference>
            </connector>
            <label>W Sponsor Org</label>
        </rules>
        <rules>
            <name>WO_Sponsor_Org_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ALL_Sponsoring_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_0_0_0</targetReference>
            </connector>
            <label>WO Sponsor Org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SubQuarter</name>
        <label>Check SubQuarter</label>
        <locationX>2497</locationX>
        <locationY>1636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XPre_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>precon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_1QFull_CONVERTS</targetReference>
            </connector>
            <label>Pre Conversion</label>
        </rules>
        <rules>
            <name>X1Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sponsoring_Relationship_0</targetReference>
            </connector>
            <label>1Q</label>
        </rules>
        <rules>
            <name>X2Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_1QFull_Non_1Q</targetReference>
            </connector>
            <label>2Q</label>
        </rules>
        <rules>
            <name>X3Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_1QFull_Non_1Q</targetReference>
            </connector>
            <label>3Q</label>
        </rules>
        <rules>
            <name>X4Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_1QFull_Non_1Q</targetReference>
            </connector>
            <label>4Q</label>
        </rules>
    </decisions>
    <decisions>
        <name>Procced_or_Next_0</name>
        <label>Procced or Next</label>
        <locationX>4907</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Apply_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Archived_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Discount</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
        <rules>
            <name>Next_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Archived_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Discount</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <description>generate sponsored billing for memberships</description>
    <dynamicChoiceSets>
        <name>billingQuarter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Billing_Quarter__c</picklistField>
        <picklistObject>Sponsoring_Relationships__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>billingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Billing_Type_Item_or_Deposit__c</picklistField>
        <picklistObject>Sponsoring_Relationships__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceArchivedRecords</name>
        <dataType>String</dataType>
        <displayField>Invoice_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Timing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>1QFull</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <sortField>Legal_Organization_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesList1QFULL</name>
        <dataType>String</dataType>
        <displayField>Invoice_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sub_Quarter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>is_First_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <sortField>Legal_Organization_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesListALL</name>
        <dataType>String</dataType>
        <displayField>Invoice_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Timing__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>1QFull</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>is_First_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <sortField>Legal_Organization_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesListProrate</name>
        <dataType>String</dataType>
        <displayField>Invoice_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Timing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Quarter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>is_First_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <sortField>Legal_Organization_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>invoiceTiming</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Invoice_Timing__c</picklistField>
        <picklistObject>Sponsoring_Relationships__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>discountTotal</name>
        <dataType>Currency</dataType>
        <expression>IF({!Discount_Type} == &#39;Percentage&#39;,
-{!RE_GET_New_SO.OrderApi__Overall_Total__c} * ({!Amount}/100),
-{!Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>eDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Sub_Quarter} = &#39;1Q&#39;,DATE(2000+VALUE({!varYEAR})-1,11,30),
IF({!Sub_Quarter} = &#39;2Q&#39;,DATE(2000+VALUE({!varYEAR}),2,28),
IF({!Sub_Quarter} = &#39;3Q&#39;,DATE(2000+VALUE({!varYEAR}),5,31),
IF({!Sub_Quarter} = &#39;4Q&#39;,DATE(2000+VALUE({!varYEAR}),8,30),null
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>eDate1Q</name>
        <dataType>String</dataType>
        <expression>&#39;11/30/20&#39;&amp;TEXT(VALUE({!varYEAR})-1)</expression>
    </formulas>
    <formulas>
        <name>eDate2Q</name>
        <dataType>String</dataType>
        <expression>&#39;2/28/20&#39;&amp;{!varYEAR}</expression>
    </formulas>
    <formulas>
        <name>eDate3Q</name>
        <dataType>String</dataType>
        <expression>&#39;5/31/20&#39;&amp;{!varYEAR}</expression>
    </formulas>
    <formulas>
        <name>eDate4Q</name>
        <dataType>String</dataType>
        <expression>&#39;8/30/20&#39;&amp;{!varYEAR}</expression>
    </formulas>
    <formulas>
        <name>eMonth</name>
        <dataType>Number</dataType>
        <expression>IF({!Sub_Quarter} = &#39;1Q&#39;,11,
IF({!Sub_Quarter} = &#39;2Q&#39;,2,
IF({!Sub_Quarter} = &#39;3Q&#39;,5,
IF({!Sub_Quarter} = &#39;4Q&#39;,8,0
)
)
)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SD1Q</name>
        <dataType>Date</dataType>
        <expression>DATE(2000,9,1)</expression>
    </formulas>
    <formulas>
        <name>sDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Sub_Quarter} = &#39;1Q&#39;,DATE(2000+VALUE({!varYEAR})-1,9,1),
IF({!Sub_Quarter} = &#39;2Q&#39;,DATE(2000+VALUE({!varYEAR})-1,12,1),
IF({!Sub_Quarter} = &#39;3Q&#39;,DATE(2000+VALUE({!varYEAR}),3,1),
IF({!Sub_Quarter} = &#39;4Q&#39;,DATE(2000+VALUE({!varYEAR}),6,1),TODAY()
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>sDate1Q</name>
        <dataType>String</dataType>
        <expression>&#39;9/1/20&#39;&amp;TEXT(VALUE({!varYEAR})-1)</expression>
    </formulas>
    <formulas>
        <name>sDate2Q</name>
        <dataType>String</dataType>
        <expression>&#39;12/1/20&#39;&amp;TEXT(VALUE({!varYEAR})-1)</expression>
    </formulas>
    <formulas>
        <name>sDate3Q</name>
        <dataType>String</dataType>
        <expression>&#39;3/1/20&#39;&amp;{!varYEAR}</expression>
    </formulas>
    <formulas>
        <name>sDate4Q</name>
        <dataType>String</dataType>
        <expression>&#39;6/1/20&#39;&amp;{!varYEAR}</expression>
    </formulas>
    <formulas>
        <name>sMonth</name>
        <dataType>Number</dataType>
        <expression>IF({!Sub_Quarter} = &#39;1Q&#39;,9,
IF({!Sub_Quarter} = &#39;2Q&#39;,1,
IF({!Sub_Quarter} = &#39;3Q&#39;,3,
IF({!Sub_Quarter} = &#39;4Q&#39;,6,0
)
)
)
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account: Generate Sponsored Billing 2025 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Generate Sponsored Billing 2025</label>
    <loops>
        <name>Loop_1QFull_CONVERT</name>
        <label>Loop 1QFull CONVERT</label>
        <locationX>1784</locationX>
        <locationY>2025</locationY>
        <collectionReference>Get_1QFull_CONVERTS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prorate_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_PRORATE_Accounts_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1QFull_Members</name>
        <label>Loop 1QFull Members</label>
        <locationX>2676</locationX>
        <locationY>2018</locationY>
        <collectionReference>Get_Sponsoring_Relationship_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prorate_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_PRORATE_Accounts_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1QFull_Non_1Q</name>
        <label>Loop 1QFull Non 1Q</label>
        <locationX>2280</locationX>
        <locationY>2038</locationY>
        <collectionReference>Get_1QFull_Non_1Q</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prorate_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_PRORATE_Accounts_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ALL_Sponsor_Org</name>
        <label>Loop ALL Sponsor Org</label>
        <locationX>3475</locationX>
        <locationY>2007</locationY>
        <collectionReference>Get_ALL_Sponsoring_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prorate_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_PRORATE_Accounts_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Item_SM</name>
        <label>Loop Item SM</label>
        <locationX>4915</locationX>
        <locationY>1998</locationY>
        <collectionReference>Get_ITEM_Sponsoring_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prorate_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Archived_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sponsor_Org</name>
        <label>Loop Sponsor Org</label>
        <locationX>4018</locationX>
        <locationY>2000</locationY>
        <collectionReference>Get_Sponsoring_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Prorate_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_PRORATE_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Discount_SOL</name>
        <label>Add Discount SOL</label>
        <locationX>4762</locationX>
        <locationY>3290</locationY>
        <inputAssignments>
            <field>OrderApi__Item__c</field>
            <value>
                <elementReference>Get_Discount_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Price_Override__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Sale_Price__c</field>
            <value>
                <elementReference>discountTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Sales_Order__c</field>
            <value>
                <elementReference>Create_SO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Total__c</field>
            <value>
                <elementReference>discountTotal</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SO</name>
        <label>Create SO</label>
        <locationX>4631</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>GET_NEW_SO</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Sponsoring_Licensing_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Account__c</field>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>Get_Account_Record.OrderApi__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Description__c</field>
            <value>
                <stringValue>ECCHO - Sponsored Member Dues</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Entity__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsoring_Licensing_Invoice_Item__c</field>
            <value>
                <stringValue>a156g0000035ylSAAQ</stringValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_1QFull_CONVERTS</name>
        <label>Get 1QFull CONVERTS</label>
        <locationX>1776</locationX>
        <locationY>1641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_1QFull_Non_1Q_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sub_Quarter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_1QFull_Non_1Q</name>
        <label>Get 1QFull Non 1Q</label>
        <locationX>2278</locationX>
        <locationY>1633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_1QFull_Non_1Q</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Accepted_by_ECCHO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>FON_Sub_Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sub_Quarter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>4477</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ALL_Sponsoring_Relationship</name>
        <label>Get ALL Sponsoring Relationship</label>
        <locationX>3473</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sponsor_Org_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>1QFull</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Timing__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Accepted_by_ECCHO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Discount_Item</name>
        <label>Get Discount Item</label>
        <locationX>4632</locationX>
        <locationY>3142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RE_GET_New_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ITEM_Sponsoring_Relationship</name>
        <label>Get ITEM Sponsoring Relationship</label>
        <locationX>4907</locationX>
        <locationY>1628</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sponsor_Org_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8)</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>1QFull</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Timing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Drop</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_NEW_SO</name>
        <label>GET NEW SO</label>
        <locationX>4482</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Billing_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SO</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sponsoring_Relationship</name>
        <label>Get NON-ARCHIVED Sponsoring Relationship</label>
        <locationX>4019</locationX>
        <locationY>1633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sponsor_Org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Quarter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Timing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sponsoring_Relationship_0</name>
        <label>Get 1QFull Sponsoring Relationship</label>
        <locationX>2675</locationX>
        <locationY>1630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_1QFull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Type_Item_or_Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Accepted_by_ECCHO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>FON_Sub_Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1Q</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RE_GET_New_SO</name>
        <label>RE-GET New SO</label>
        <locationX>4762</locationX>
        <locationY>3142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Discount_SOL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SO</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SO</name>
        <label>Update SO</label>
        <locationX>4407</locationX>
        <locationY>1047</locationY>
        <connector>
            <targetReference>Check_1QFull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SO</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FON_Billing_Quarter__c</field>
            <value>
                <elementReference>Billing_Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Billing_Type__c</field>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Invoice_Timing__c</field>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Invoice_Year__c</field>
            <value>
                <elementReference>varYEAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Quarter__c</field>
            <value>
                <elementReference>Sub_Quarter</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SO_0</name>
        <label>Update SO</label>
        <locationX>4548</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Check_1QFull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_SO</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FON_Billing_Quarter__c</field>
            <value>
                <elementReference>Item_Billing_Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Billing_Type__c</field>
            <value>
                <elementReference>Billing_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Invoice_Timing__c</field>
            <value>
                <elementReference>varTiming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Invoice_Year__c</field>
            <value>
                <elementReference>varYEAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Quarter__c</field>
            <value>
                <elementReference>Sub_Quarter</elementReference>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Apply_Discount</name>
        <label>Apply Discount</label>
        <locationX>4416</locationX>
        <locationY>2723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>INSERT_SOLS</targetReference>
        </connector>
        <fields>
            <name>Invoice_Has_Discount</name>
            <dataType>Boolean</dataType>
            <fieldText>Invoice Has Discount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Apply_Discount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Apply_Discount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_Type</name>
                    <choiceReferences>discountDollars</choiceReferences>
                    <choiceReferences>discountPercentage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Discount Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Apply_Discount_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invoice_Has_Discount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Billing_Information</name>
        <label>Billing Information</label>
        <locationX>4305</locationX>
        <locationY>846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Deposit_Year</targetReference>
        </connector>
        <fields>
            <name>Billing_Quarter</name>
            <choiceReferences>billingQuarter</choiceReferences>
            <choiceReferences>choicesQuarterALL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>precon</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is 1QFull Pre-conversion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Billing_Quarter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1QFull</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invoice_Timing</name>
            <choiceReferences>invoiceTiming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoice Timing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Billing_Quarter</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>1QFull</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Billing_Quarter</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>All</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sub_Quarter</name>
            <choiceReferences>billingQuarter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub-Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Billing_Quarter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1QFull</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Billing_Quarter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>All</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invoice_Year</name>
            <dataType>String</dataType>
            <fieldText>Invoice Year (2 digits)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;2 digits only&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Billing_Information_0</name>
        <label>Billing Information</label>
        <locationX>4644</locationX>
        <locationY>849</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Item_Year</targetReference>
        </connector>
        <fields>
            <name>Invoice_Timing_0</name>
            <choiceReferences>invoiceTiming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoice Timing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Item_Billing_Quarter</name>
            <choiceReferences>billingQuarter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Invoice_Year_0</name>
            <dataType>String</dataType>
            <fieldText>Invoice Year (2 digits)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;2 digits only&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Billing_Type</name>
        <label>Choose Billing Type</label>
        <locationX>4478</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Billing_Type</targetReference>
        </connector>
        <fields>
            <name>Billing_Type</name>
            <choiceReferences>billingType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>4442</locationX>
        <locationY>3492</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProcessCompleted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sales Order generated, {!GET_NEW_SO.SO_URL__c} to view.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Or go to this page:&lt;/p&gt;&lt;p&gt;https://cha--tchfull.sandbox.lightning.force.com/lightning/r/OrderApi__Sales_Order__c/{!Create_SO}/view&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>3760</locationX>
        <locationY>1787</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;No Sponsored Member found matching the criteria.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_0</name>
        <label>Error Message</label>
        <locationX>2504</locationX>
        <locationY>1829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_0</name>
            <fieldText>&lt;p&gt;No Sponsored Member found matching the criteria.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_0_0</name>
        <label>Error Message</label>
        <locationX>5201</locationX>
        <locationY>1793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_0_0</name>
            <fieldText>&lt;p&gt;No Sponsored Member found matching the criteria.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_0_0_0</name>
        <label>Error Message</label>
        <locationX>3321</locationX>
        <locationY>1632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_0_0_0</name>
            <fieldText>&lt;p&gt;No Sponsored Member found matching the criteria.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Archived_Members</name>
        <label>Select Archived Members</label>
        <locationX>4917</locationX>
        <locationY>2291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Archived_List</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Add Archived Members&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Archived_Records</name>
            <choiceReferences>choiceArchivedRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>css_0_0</name>
            <extensionName>c:CustomFlowCSSComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_PRORATE_Accounts</name>
        <label>Suppress Prorate Accounts</label>
        <locationX>4016</locationX>
        <locationY>2298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Prorate_List</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select to Suppress Prorate&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoProrateMessage</name>
            <fieldText>&lt;p&gt;No Prorate Matches Found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>choicesListProrate</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_PRORATE_Records</name>
            <choiceReferences>choicesListProrate</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>css_0</name>
            <extensionName>c:CustomFlowCSSComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_PRORATE_Accounts_0</name>
        <label>Suppress Prorate Accounts</label>
        <locationX>3477</locationX>
        <locationY>2278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_ALL_Prorate_List</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select to Suppress Prorate&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoProrateMessage_0</name>
            <fieldText>&lt;p&gt;No Prorate Matches Found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>choicesListALL</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_ALL_PRORATE_Records</name>
            <choiceReferences>choicesListALL</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>css_0_0_0</name>
            <extensionName>c:CustomFlowCSSComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_PRORATE_Accounts_0_0</name>
        <label>Suppress Prorate Accounts</label>
        <locationX>2491</locationX>
        <locationY>2288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_1QFULL_Prorate_List</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select to Suppress Prorate&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoProrateMessage_0_0</name>
            <fieldText>&lt;p&gt;No Prorate Matches Found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>choicesListALL</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_1QFull_PRORATE_Records</name>
            <choiceReferences>choicesList1QFULL</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>css_0_0_0_0</name>
            <extensionName>c:CustomFlowCSSComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Accounrt</name>
        <label>Select Accounrt</label>
        <locationX>4474</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OrderApi__Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sponsoring_Licensing_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>4349</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Accounrt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tableHead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-grid slds-grid_reverse invoice-label&quot; style=&quot;float: right;&quot;&gt;
&lt;div class=&quot;slds-col&quot;&gt;Prorate&lt;/div&gt;
&lt;div class=&quot;slds-col&quot;&gt;Name&lt;/div&gt;
&lt;div class=&quot;slds-col&quot;&gt;Membership date&lt;/div&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>bQuarter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasProrate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>proratesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subsPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supressList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDATE</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSDATE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTiming</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varYEAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
