unpackaged/main/default/flows/Attendee_Collect_Group_Registration_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Attendees</name>
        <label>Add Attendees</label>
        <locationX>1061</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>Get_Main_Registrant.Group_Attendees__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>colATT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Main_Registrant.Is_Main_Registrant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Attendees</name>
        <label>Clear Attendees</label>
        <locationX>794</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>Get_Main_Registrant.Group_Attendees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Group</name>
        <label>Check Group</label>
        <locationX>676</locationX>
        <locationY>771</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Attendees</targetReference>
            </connector>
            <label>W GM</label>
        </rules>
    </decisions>
    <description>- get all registration group members
- put names in the field</description>
    <formulas>
        <name>colATT</name>
        <dataType>String</dataType>
        <expression>{!Loop_Members.EventApi__Full_Name__c} &amp; BR()</expression>
    </formulas>
    <interviewLabel>Attendee: Collect Group Registration Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendee: Collect Group Registration Members</label>
    <loops>
        <name>Loop_Members</name>
        <label>Loop Members</label>
        <locationX>891</locationX>
        <locationY>770</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Attendees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_main_registrant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>685</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Registrant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Registration_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventApi__Registration_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventApi__Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Registrant</name>
        <label>Get Main Registrant</label>
        <locationX>685</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Full_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Main_Registrant_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EventApi__Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_main_registrant</name>
        <label>update main registrant</label>
        <locationX>901</locationX>
        <locationY>981</locationY>
        <inputReference>Get_Main_Registrant</inputReference>
    </recordUpdates>
    <start>
        <locationX>557</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Group_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EventApi__Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>colAttendees</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Members.EventApi__Full_Name__c}</text>
    </textTemplates>
</Flow>
