unpackaged/main/default/flows/Membership_Sync_Account_membership_type_and_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Item</name>
        <label>Check Item</label>
        <locationX>322</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Associate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a156g0000035ykuAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MemType</targetReference>
            </connector>
            <label>Associate</label>
        </rules>
        <rules>
            <name>Sponsoring_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a156g0000035ylSAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MemType_0</targetReference>
            </connector>
            <label>Sponsoring Org</label>
        </rules>
        <rules>
            <name>Full_membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a156g0000035yktAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MemType_0_0</targetReference>
            </connector>
            <label>Full membership</label>
        </rules>
        <rules>
            <name>Affiliate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a156g000003624pAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MemType_0_0_0</targetReference>
            </connector>
            <label>Affiliate</label>
        </rules>
        <rules>
            <name>Licensed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a156g0000035yl6AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MemType_0_0_0_0</targetReference>
            </connector>
            <label>Licensed</label>
        </rules>
        <rules>
            <name>Participating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a156g0000035ylBAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MemType_0_0_0_0_0</targetReference>
            </connector>
            <label>Participating</label>
        </rules>
    </decisions>
    <interviewLabel>Membership: Sync Account membership type and status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership: Sync Account membership type and status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_MemType</name>
        <label>Update Account MemType</label>
        <locationX>50</locationX>
        <locationY>340</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
            <value>
                <stringValue>Affiliate Member</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_MemType_0</name>
        <label>Update Account MemType</label>
        <locationX>55</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_MemType_0_0</name>
        <label>Update Account MemType</label>
        <locationX>207</locationX>
        <locationY>588</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
            <value>
                <stringValue>Full Member</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_MemType_0_0_0</name>
        <label>Update Account MemType</label>
        <locationX>612</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
            <value>
                <stringValue>Affiliate Member</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_MemType_0_0_0_0</name>
        <label>Update Account MemType</label>
        <locationX>636</locationX>
        <locationY>330</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
            <value>
                <stringValue>Licensed Participant</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_MemType_0_0_0_0_0</name>
        <label>Update Account MemType</label>
        <locationX>430</locationX>
        <locationY>590</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.OrderApi__Paid_Through_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
            <value>
                <stringValue>Participating Member</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Item</targetReference>
        </connector>
        <object>OrderApi__Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
