unpackaged/main/default/flows/ONC_FIX_SO_TOTAL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_new_total</name>
        <label>assign new total</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>recordSalesOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSalesOrder.OrderApi__Overall_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Actual_Line_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSalesOrder.OrderApi__Balance_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Actual_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_collection</name>
        <label>assign to collection</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>listSalesOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SOS</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ONCE - FIX SO TOTAL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ONCE - FIX SO TOTAL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_SOS</name>
        <label>update SOS</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputReference>listSalesOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_new_total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incorrect_Overall_Total__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Sales_Order_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-04-02</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>recordSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Sales_Order__c</objectType>
    </variables>
</Flow>
