unpackaged/main/default/flows/ONCE_Map_Form_Response_To_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>676</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>recordContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_collection</name>
        <label>assign to collection</label>
        <locationX>674</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>listContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars</name>
        <label>assign vars</label>
        <locationX>919</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>recordContact.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.PagesApi__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0</name>
        <label>assign vars</label>
        <locationX>1024</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>recordContact.RPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.PagesApi__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0_0</name>
        <label>assign vars</label>
        <locationX>1166</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>recordContact.AttendeeAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.PagesApi__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars_0_0_0</name>
        <label>assign vars</label>
        <locationX>1322</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>recordContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.PagesApi__Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Field_Responses</name>
        <label>Check Field Responses</label>
        <locationX>842</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>w_field_responses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Field_Responses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>w field responses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fields</name>
        <label>Check Fields</label>
        <locationX>1014</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Organization</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Mapped_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>organization__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Field_Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_vars</targetReference>
            </connector>
            <label>is Organization</label>
        </rules>
        <rules>
            <name>Is_RPA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Mapped_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rpa__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Field_Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_vars_0</targetReference>
            </connector>
            <label>Is RPA</label>
        </rules>
        <rules>
            <name>Is_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Mapped_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>attendeeaddress__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Field_Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_vars_0_0</targetReference>
            </connector>
            <label>Is Address</label>
        </rules>
        <rules>
            <name>Is_Phone</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Mapped_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>homephone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.PagesApi__Field_Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_vars_0_0_0</targetReference>
            </connector>
            <label>Is Phone</label>
        </rules>
    </decisions>
    <description>map form responses from NCP Exam Additional Info into Contact Record</description>
    <environments>Default</environments>
    <interviewLabel>ONCE - Map Form Response To Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ONCE - Map Form Response To Contact</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>676</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Field_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_to_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>667</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Field_Responses</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PagesApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Field_Responses</name>
        <label>Get Field Responses</label>
        <locationX>667</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Field_Responses</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PagesApi__Form_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Form_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PagesApi__Field_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>674</locationX>
        <locationY>1241</locationY>
        <inputReference>recordContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>541</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PagesApi__Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0S6g00000HOgMiEAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PagesApi__Form_Response__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-03-25</startDate>
            <startTime>22:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
