unpackaged/main/default/flows/PROGRAM_PROFILE_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_selected_list</name>
        <label>add selected list</label>
        <locationX>1112</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>listSelectedPP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordSelectedPP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_selected_programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>675</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>listProfile</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dupeCheck</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>profileCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPPID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.FON_Program_Profile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Profile</name>
        <label>assign Profile</label>
        <locationX>187</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>recordProfile.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.FON_Audit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.ProgramApi__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.ProgramApi__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.ProgramApi__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Program_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.FON_Program_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Program_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.FON_Audit_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audited_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Audited_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.ProgramApi__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.ProgramApi__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Total_Credits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.FON_Total_Credits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.FON_Total_Workshops__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.FON_Total_Workshops__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordProfile.ProgramApi__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Credits.Program_Term__r.ProgramApi__Profile__r.ProgramApi__Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dupeCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordProfile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>remove_dupes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Selected_Profiles</name>
        <label>assign Selected Profiles</label>
        <locationX>1112</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>recordSelectedPP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_selected_programs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSelectedPP.FON_Audit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSelectedPP.FON_Audited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSelectedPP.FON_Audit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSelectedPP.FON_Audited_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSelectedPP.FON_Audited_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_selected_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_dupes</name>
        <label>remove dupes</label>
        <locationX>188</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>listProfile</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>dupeCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>667</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Confirm_Program_Profiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Less_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>profileCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Credits</targetReference>
            </connector>
            <label>If Less 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Credits</name>
        <label>Check Credits</label>
        <locationX>1087</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Confirm_Program_Profiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>w_Credits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Credits</targetReference>
            </connector>
            <label>w Credits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Program_Profile</name>
        <label>Check Current Program Profile</label>
        <locationX>454</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>assign_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentPPID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Credits.FON_Program_Profile__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Credits</targetReference>
            </connector>
            <label>is current</label>
        </rules>
    </decisions>
    <description>check for the credits from last year and fetch the program profiles to be audited</description>
    <environments>Default</environments>
    <formulas>
        <name>auditYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PROGRAM PROFILE: Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROGRAM PROFILE: Audit</label>
    <loops>
        <name>Loop_Credits</name>
        <label>Loop Credits</label>
        <locationX>680</locationX>
        <locationY>427</locationY>
        <collectionReference>Get_Credits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Current_Program_Profile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Program_Profiles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_selected_programs</name>
        <label>loop selected programs</label>
        <locationX>913</locationX>
        <locationY>732</locationY>
        <collectionReference>Programs.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Selected_Profiles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Audit_Program_Profiles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Credits</name>
        <label>Get Credits</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Credits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FON_Is_Profile_Audited__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FON_Profile_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Track</stringValue>
            </value>
        </filters>
        <filters>
            <field>FON_Profile_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FON_Workshop_Attended_Credits_Acquired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FON_Start_Date_Is_Last_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FON_End_Date_Is_Last_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCP_Credits__c</object>
        <sortField>FON_Program_Profile__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Audit_Program_Profiles</name>
        <label>Audit Program Profiles</label>
        <locationX>909</locationX>
        <locationY>979</locationY>
        <connector>
            <targetReference>Audit_Completed</targetReference>
        </connector>
        <inputReference>listSelectedPP</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Audit_Completed</name>
        <label>Audit Completed</label>
        <locationX>1112</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuditCompleted</name>
            <fieldText>&lt;p&gt;Audit Completed. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/ProgramApi__Program_Profile__c/list?filterName=00B6g000001TMmHEAW&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go Back&lt;/a&gt; to Program Profile list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Program_Profiles</name>
        <label>Confirm Program Profiles</label>
        <locationX>1101</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_selected_programs</targetReference>
        </connector>
        <fields>
            <name>Programs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProgramApi__Program_Profile__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ProgramApi__Program_Profile__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>listProfile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>listProfile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Program Profiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:action_list_component</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,ProgramApi__Account__c,ProgramApi__Contact__c,ProgramApi__Program__c,FON_Program_Start_Date__c,FON_Program_End_Date__c,ProgramApi__Status__c,FON_Total_Credits__c,FON_Total_Workshops__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:182, ProgramApi__Account__c:216, ProgramApi__Contact__c:200, ProgramApi__Program__c:214, FON_Program_Start_Date__c:283, FON_Program_End_Date__c:283, ProgramApi__Status__c:171, FON_Total_Credits__c:150, FON_Total_Workshops__c:150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed Audit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Credits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCP_Credits__c</objectType>
    </variables>
    <variables>
        <name>currentPPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dupeCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
    <variables>
        <name>listProfile</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
    <variables>
        <name>listSelectedPP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
    <variables>
        <name>ppCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>profileCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
    <variables>
        <name>recordSelectedPP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
</Flow>
