unpackaged/main/default/flows/RT_Attendee_Send_Event_Registration_Email_WITH_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Event_Registration_With_Sessions</name>
        <label>Event Registration With Sessions</label>
        <locationX>664</locationX>
        <locationY>773</locationY>
        <actionName>EventApi__Attendee__c.Event_Registration_With_Sessions</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_attendee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EventApi__Attendee__c.Event_Registration_With_Sessions</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_schedules</name>
        <label>check schedules</label>
        <locationX>849</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>w_schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_schedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Registration_With_Sessions</targetReference>
            </connector>
            <label>w/ schedule</label>
        </rules>
    </decisions>
    <description>Send notification email for Event Registration with registered Sessions</description>
    <environments>Default</environments>
    <interviewLabel>RT - Attendee Send Event Registration Email WITH Sessions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Attendee Send Event Registration Email WITH Sessions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_schedules</name>
        <label>get schedules</label>
        <locationX>667</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Attendee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventApi__Schedule_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventApi__Registration_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_attendee</name>
        <label>update attendee</label>
        <locationX>670</locationX>
        <locationY>936</locationY>
        <inputAssignments>
            <field>FON_Session_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>515</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>FON_Session_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EventApi__Attendee__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>after_3min</name>
            <connector>
                <targetReference>get_schedules</targetReference>
            </connector>
            <label>after 3min</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
