unpackaged/main/default/flows/RTFU_NCP_Credit_Description_Truncate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Description</name>
        <label>Assign Description</label>
        <locationX>435</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Session_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cDesc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_current_record</targetReference>
        </connector>
    </assignments>
    <description>field update on create/update session description to truncate more than 250 characters</description>
    <environments>Default</environments>
    <formulas>
        <name>cDesc</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.Session_Description__c})&gt;250,
TRIM(LEFT({!$Record.Session_Description__c}, 250)),
{!$Record.Session_Description__c})</expression>
    </formulas>
    <interviewLabel>RTFU NCP Credit Description Truncate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFU NCP Credit Description Truncate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_current_record</name>
        <label>update current record</label>
        <locationX>676</locationX>
        <locationY>443</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>cDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Description__c</field>
            <value>
                <elementReference>cDesc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>550</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session_Description__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NCP_Credits__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>update_current_record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
