unpackaged/main/default/flows/Sales_Order_Mark_SM_as_Paid_when_SO_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>582</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>updateSMS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>748</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>recordSM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Lines.Sponsoring_Relationship__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordSM.Is_Prorate_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lines</name>
        <label>Check Lines</label>
        <locationX>394</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Lines</targetReference>
            </connector>
            <label>W Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_prorate</name>
        <label>check prorate</label>
        <locationX>898</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Loop_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Lines.Sponsoring_Relationship__r.Is_Prorate_Paid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_values</targetReference>
            </connector>
            <label>unchecked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Order: Mark SM as Paid when SO Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order: Mark SM as Paid when SO Paid</label>
    <loops>
        <name>Loop_Lines</name>
        <label>Loop Lines</label>
        <locationX>583</locationX>
        <locationY>365</locationY>
        <collectionReference>Get_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_prorate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_SMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>175</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FON_Is_Prorate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>test_update</name>
        <label>test update</label>
        <locationX>949</locationX>
        <locationY>210</locationY>
        <inputReference>recordSM</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_SMS</name>
        <label>update SMS</label>
        <locationX>584</locationX>
        <locationY>564</locationY>
        <inputReference>updateSMS</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Paid_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Sponsoring_Licensing_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordSM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sponsoring_Relationships__c</objectType>
    </variables>
    <variables>
        <name>updateSMS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sponsoring_Relationships__c</objectType>
    </variables>
    <variables>
        <name>updateSOS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Sales_Order__c</objectType>
    </variables>
</Flow>
