unpackaged/main/default/flows/SCH_ONCE_Modify_Adjustment_lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_invoice</name>
        <label>check invoice</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Modify_Adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Posting_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unpost_Sales_Order</targetReference>
            </connector>
            <label>is invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_late_fee</name>
        <label>check late fee</label>
        <locationX>336</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>w_Late_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Late_Fee_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Records</targetReference>
            </connector>
            <label>w/ Late Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_transactions</name>
        <label>check transactions</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>check_invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>w_transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_old_Transaction_records</targetReference>
            </connector>
            <label>w/ transaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_invoice</name>
        <label>Copy 1 of check invoice</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_is_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Posting_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Sales_Order_Again</targetReference>
            </connector>
            <label>is invoice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCH ONCE - Modify Adjustment lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH ONCE - Modify Adjustment lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_old_Transaction_records</name>
        <label>Delete old Transaction records</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>check_invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OrderApi__Transaction__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Late_Fee_Line</name>
        <label>Get Late Fee Line</label>
        <locationX>336</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_late_fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a156g0000035yhNAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Records</name>
        <label>Get Transaction Records</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Modify_Adjustment</name>
        <label>Modify Adjustment</label>
        <locationX>182</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Copy_1_of_check_invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Late_Fee_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderApi__Is_Adjustment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Sales_Order_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Post_Sales_Order_Again</name>
        <label>Post Sales Order Again</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <inputAssignments>
            <field>OrderApi__Is_Posted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Posting_Status__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Unpost_Sales_Order</name>
        <label>Unpost Sales Order</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Modify_Adjustment</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderApi__Is_Posted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Posted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Posting_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Late_Fee_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Paid_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Proforma__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2025-01-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2025-12-31</dateValue>
            </value>
        </filters>
        <object>OrderApi__Sales_Order__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-04-03</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
