unpackaged/main/default/flows/SCHEDULE_Update_Program_Profile_null_Allows_Credits_Workshops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_new_values</name>
        <label>assign new values</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>ppRecord.Allowed_Credits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allowedCredits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ppRecord.Allowed_Workshops__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allowedWorkshops</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ppRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ppRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ppRecords</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>allowedCredits</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!$Label.Allowed_Credits_NCP})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>allowedWorkshops</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!$Label.Allowed_Workshops_NCP})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SCHEDULE : Update Program Profile null Allows Credits/Workshops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCHEDULE : Update Program Profile null Allows Credits/Workshops</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ppRecords</name>
        <label>Update ppRecords</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputReference>ppRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_new_values</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Allowed_Credits__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Allowed_Workshops__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProgramApi__Program_Profile__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-08-27</startDate>
            <startTime>14:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
    <variables>
        <name>ppRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramApi__Program_Profile__c</objectType>
    </variables>
</Flow>
