unpackaged/main/default/flows/SCHEDULE_Update_SP_Item_Volume.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_Apex_Class</name>
        <label>Calling Apex Class</label>
        <locationX>741</locationX>
        <locationY>224</locationY>
        <actionName>AccountwithVolume</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ItemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountwithVolume</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>887</locationX>
        <locationY>159</locationY>
        <actionName>AccountwithUpload</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ItemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountwithUpload</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Deposite</name>
        <label>Check Deposite</label>
        <locationX>170</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Volume</targetReference>
            </connector>
            <label>W Deposit</label>
        </rules>
    </decisions>
    <interviewLabel>SCHEDULE: Update SP Item Volume {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCHEDULE: Update SP Item Volume</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Deposits</label>
        <locationX>180</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Deposite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sponsored_Organization__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sponsoring_Organization__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Item_Based_Upload_Information__c</object>
        <sortField>Report_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Volume</name>
        <label>Update Account Volume</label>
        <locationX>180</locationX>
        <locationY>685</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Quarter__c</field>
            <value>
                <elementReference>Get.Quarter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Upload__c</field>
            <value>
                <elementReference>Get.Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Upload__c</field>
            <value>
                <elementReference>Get.FON_Total_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Volume_Upload__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rate_Upload__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-21</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Update</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Schedule Update - {!$Flow.CurrentDateTime}</text>
    </textTemplates>
</Flow>
