unpackaged/main/default/flows/SCHEDULE_Update_Account_Deposit_Volume_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_Apex_Class</name>
        <label>Calling Apex Class</label>
        <locationX>826</locationX>
        <locationY>224</locationY>
        <actionName>AccountwithVolume</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ItemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountwithVolume</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>972</locationX>
        <locationY>159</locationY>
        <actionName>AccountwithUpload</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ItemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountwithUpload</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Deposite</name>
        <label>Check Deposite</label>
        <locationX>255</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Volume_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Deposits__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get.Total_Deposits__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Volume</targetReference>
            </connector>
            <label>W Deposit</label>
        </rules>
    </decisions>
    <interviewLabel>SCHEDULE: Update Account Deposit Volume V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCHEDULE: Update Account Deposit Volume V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Deposits</label>
        <locationX>265</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Deposite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deposit_Based_Upload_Information__c</object>
        <sortField>Report_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Volume</name>
        <label>Update Account Volume</label>
        <locationX>264</locationX>
        <locationY>710</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Notes__c</field>
            <value>
                <elementReference>update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Deposits__c</field>
            <value>
                <elementReference>Get.Total_Deposits__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Volume_0</name>
        <label>Update Account Volume</label>
        <locationX>50</locationX>
        <locationY>521</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Notes__c</field>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>135</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-21</startDate>
            <startTime>13:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>update</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Schedule Update - {!$Flow.CurrentDateTime}</text>
    </textTemplates>
</Flow>
