unpackaged/main/default/flows/SCREENFLOW_Update_Account_Deposit_Total.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Deposit</name>
        <label>Check Deposit</label>
        <locationX>224</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Deposit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deposit_Item</targetReference>
            </connector>
            <label>W Deposit</label>
        </rules>
        <rules>
            <name>WO_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Deposit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOT_FOUND</targetReference>
            </connector>
            <label>WO Deposit</label>
        </rules>
    </decisions>
    <interviewLabel>SCREENFLOW: Update Account Deposit Total {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREENFLOW: Update Account Deposit Total</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>235</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deposit</name>
        <label>Get Deposit</label>
        <locationX>234</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Deposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deposit_Based_Upload_Information__c</object>
        <sortField>Report_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>428</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Deposit.Account_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Notes__c</field>
            <value>
                <elementReference>Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Deposits__c</field>
            <value>
                <elementReference>Get_Deposit.Total_Deposits__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Deposit_Item</name>
        <label>Deposit Item</label>
        <locationX>428</locationX>
        <locationY>524</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>Found</name>
            <fieldText>&lt;p&gt;Most Recent Deposit Based Upload Information:&lt;/p&gt;&lt;p&gt;{!Get_Deposit.Name}&lt;/p&gt;&lt;p&gt;Account: {!Get_Deposit.Account_Name__r.Name}&lt;/p&gt;&lt;p&gt;Total Deposit: {!Get_Deposit.Total_Deposits__c}&lt;/p&gt;&lt;p&gt;Report Date: {!Get_Deposit.Report_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Update using this record?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>428</locationX>
        <locationY>856</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Account Deposit successfully updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NOT_FOUND</name>
        <label>NOT FOUND</label>
        <locationX>50</locationX>
        <locationY>526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoDeposit</name>
            <fieldText>&lt;p&gt;No Deposit Records Found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_ID</name>
        <label>Record ID</label>
        <locationX>470</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sdfsdfs</name>
            <fieldText>&lt;p&gt;{!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>105</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Update</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Single Update - {!$Flow.CurrentDateTime}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
</Flow>
