unpackaged/main/default/flows/SP_Call_Apex_Class_to_Update_Volume_and_Deposit_on_SP_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_Apex_Class</name>
        <label>Calling Apex Class</label>
        <locationX>50</locationX>
        <locationY>385</locationY>
        <actionName>AccountwithVolume</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ItemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountwithVolume</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_SP_Volume</name>
        <label>Update SP Volume</label>
        <locationX>659</locationX>
        <locationY>381</locationY>
        <actionName>SPwithVolume</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ItemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPwithVolume</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_SP</name>
        <label>Check SP</label>
        <locationX>480</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_SP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SP_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SP_Volume</targetReference>
            </connector>
            <label>W SP</label>
        </rules>
    </decisions>
    <interviewLabel>SP: Call Apex Class to Update Volume and Deposit on SP Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Call Apex Class to Update Volume on SP Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SP_Record</name>
        <label>Get SP Record</label>
        <locationX>312</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsored_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sponsoring_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <sortField>Date_Accepted_by_ECCHO__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>183</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SP_Record</targetReference>
        </connector>
        <object>Item_Based_Upload_Information__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
