unpackaged/main/default/flows/SR_Create_Attendee_by_Sales_Order_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Verify Order Line</description>
        <name>Verify_Order_Line</name>
        <label>Verify Order Line</label>
        <locationX>290</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_Order_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Atendee</targetReference>
            </connector>
            <label>Exist Order Line</label>
        </rules>
    </decisions>
    <description>SR: Adjust Attendee using Sales Order Line</description>
    <environments>Default</environments>
    <interviewLabel>S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Adjust Attendee using Sales Order Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Saler Order Line</description>
        <name>Get_Sales_Order_Line</name>
        <label>Get Sales Order Line</label>
        <locationX>119</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Order_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventApi__Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventApi__Attendee_Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderApi__Sales_Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Atendee</description>
        <name>Update_Atendee</name>
        <label>Update Atendee</label>
        <locationX>394</locationX>
        <locationY>543</locationY>
        <inputAssignments>
            <field>EventApi__Sales_Order_Line__c</field>
            <value>
                <elementReference>Get_Sales_Order_Line.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventApi__Sales_Order__c</field>
            <value>
                <elementReference>Get_Sales_Order_Line.OrderApi__Sales_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>39</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Sales_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Sales_Order_Line__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventApi__Attendee_Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EventApi__Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
