unpackaged/main/default/flows/SR_Fill_In_Blank_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Coordinator_Email</name>
        <label>Check Coordinator Email</label>
        <locationX>160</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SM_Coordinator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Contact.OrderApi__Preferred_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sponsored_Name_0_0</targetReference>
            </connector>
            <label>No Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Coordinator_Name</name>
        <label>Check Coordinator Name</label>
        <locationX>163</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>Check_Coordinator_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_C_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SM_Coordinator_Full_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sponsored_Name_0</targetReference>
            </connector>
            <label>No C Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Org_Name</name>
        <label>Check Org Name</label>
        <locationX>163</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Check_Coordinator_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Organization_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sponsored_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sponsored_Name</targetReference>
            </connector>
            <label>WO Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.CreatedBy.Contact.FirstName} &amp;&#39; &#39; &amp;{!$Record.CreatedBy.Contact.LastName}</expression>
    </formulas>
    <interviewLabel>SR: Fill In Blank Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Fill In Blank Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Sponsored_Name</name>
        <label>Update Sponsored Name</label>
        <locationX>506</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Check_Coordinator_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Organization_Name__c</field>
            <value>
                <elementReference>$Record.Sponsored_Organization__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sponsored_Name_0</name>
        <label>Update Sponsored Name</label>
        <locationX>500</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Check_Coordinator_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SM_Coordinator_Full_Name__c</field>
            <value>
                <elementReference>varFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sponsored_Name_0_0</name>
        <label>Update Sponsored Name</label>
        <locationX>496</locationX>
        <locationY>733</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SM_Coordinator_Email__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Contact.OrderApi__Preferred_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Org_Name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Legal_Organization_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SM_Coordinator_Full_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SM_Coordinator_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
