unpackaged/main/default/flows/SR_Fill_in_Coordinator_Info_IF_Empty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>50</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Contact.OrderApi__Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SM_0</targetReference>
            </connector>
            <label>W Contact</label>
        </rules>
        <rules>
            <name>WO_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Contact.OrderApi__Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>WO Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RTN</name>
        <label>Check RTN</label>
        <locationX>587</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_RTN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_R_T_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RTN</targetReference>
            </connector>
            <label>WO RTN</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_to_do</name>
        <label>What to do</label>
        <locationX>324</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SM_Coordinator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SM</targetReference>
            </connector>
            <label>No Coordinator</label>
        </rules>
        <rules>
            <name>W_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SM_Coordinator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>W Coordinator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Get_User_Contact.Email}!=null,{!Get_User_Contact.Email},
IF({!Get_User_Contact.OrderApi__Work_Email__c}!=null,{!Get_User_Contact.OrderApi__Work_Email__c},null))</expression>
    </formulas>
    <formulas>
        <name>cName</name>
        <dataType>String</dataType>
        <expression>{!Get_User_Contact.CreatedBy.FirstName}&amp;&#39; &#39;&amp;{!Get_User_Contact.CreatedBy.LastName}</expression>
    </formulas>
    <formulas>
        <name>uName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&#39; &#39;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>SR: Fill in Coordinator Info IF Empty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Fill in Coordinator and RTN Info IF Empty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>56</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Work_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RTN</name>
        <label>Update RTN</label>
        <locationX>833</locationX>
        <locationY>411</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_R_T_Number__c</field>
            <value>
                <elementReference>$Record.Primary_R_T_Number_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SM</name>
        <label>Update SM Fields</label>
        <locationX>336</locationX>
        <locationY>715</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Organization_Name__c</field>
            <value>
                <elementReference>$Record.Sponsored_Organization__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SM_Coordinator_Email__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SM_0</name>
        <label>Update SM Fields</label>
        <locationX>164</locationX>
        <locationY>556</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Organization_Name__c</field>
            <value>
                <elementReference>$Record.Sponsored_Organization__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SM_Coordinator_Email__c</field>
            <value>
                <elementReference>cEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SM_Coordinator_Full_Name__c</field>
            <value>
                <elementReference>Get_User_Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <start>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_to_do</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SM_Coordinator_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SM_Coordinator_Full_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
