unpackaged/main/default/flows/SR_Sync_Sponsored_Member_Account_Member_Type_and_Expiration_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_SR</name>
        <label>Check SR</label>
        <locationX>170</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sponsored_Org</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>NOT_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sponsored_Org_0</targetReference>
            </connector>
            <label>NOT Active</label>
        </rules>
    </decisions>
    <interviewLabel>SR: Sync Sponsored Member Account Member Type and Expiration date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Sync Sponsored Member Account Member Type and Expiration date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Sponsored_Org</name>
        <label>Update Sponsored Org</label>
        <locationX>0</locationX>
        <locationY>501</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sponsored_Organization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership_Expiration__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
            <value>
                <stringValue>Sponsored Member</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sponsored_Org_0</name>
        <label>Update Sponsored Org</label>
        <locationX>360</locationX>
        <locationY>507</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sponsored_Organization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCH_Membership_Type__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_SR</targetReference>
        </connector>
        <object>Sponsoring_Relationships__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
