unpackaged/main/default/flows/SR_Update_Status_when_AGMT_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_AGMT</name>
        <label>Check AGMT</label>
        <locationX>169</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Submission_Options__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I Am Scanning and Attaching a PDF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SR</targetReference>
            </connector>
            <label>Upload</label>
        </rules>
    </decisions>
    <interviewLabel>SR: Update Status when AGMT Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Update Status when AGMT Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_SR</name>
        <label>Update SR</label>
        <locationX>176</locationX>
        <locationY>564</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Approved_by_Sponsor__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Date_Agreement_was_Approved_by_Child__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Final Review by ECCHO Staff</stringValue>
            </value>
        </inputAssignments>
        <object>Sponsoring_Relationships__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_AGMT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Submission_Options__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I Am Scanning and Attaching a PDF</stringValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
