unpackaged/main/default/flows/SR_Update_Sponsored_Account_Relationship_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IDS</name>
        <label>Assign IDS</label>
        <locationX>709</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>varIDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIDSVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_SRs</name>
        <label>Check SRs</label>
        <locationX>454</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W_SRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_SRs</targetReference>
            </connector>
            <label>W SRs</label>
        </rules>
    </decisions>
    <formulas>
        <name>varIDSVal</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varIDS}),{!Loop_SRs.Id},{!varIDS}&amp;&#39;,&#39;&amp;{!Loop_SRs.Id})</expression>
    </formulas>
    <interviewLabel>SR: Update Sponsored Account Relationship List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SR: Update Sponsored Account Relationship List</label>
    <loops>
        <name>Loop_SRs</name>
        <label>Loop SRs</label>
        <locationX>461</locationX>
        <locationY>525</locationY>
        <collectionReference>Get_SRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SRs</name>
        <label>Get SRs</label>
        <locationX>178</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsored_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sponsored_Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FON_I_Agree_to_the_Terms__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_Have_Verified_The_Information__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsoring_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>461</locationX>
        <locationY>697</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sponsored_Organization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>varIDS</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sponsored_Organization__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sponsoring_Relationships__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varIDS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
