unpackaged/main/default/flows/TRIGGER_Send_Audit_Email_Via_Program_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Program_Profile_Credit_Audit_Notification</name>
        <label>Program Profile Credit Audit Notification</label>
        <locationX>1404</locationX>
        <locationY>577</locationY>
        <actionName>ProgramApi__Program_Profile__c.Program_Profile_Credit_Audit_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProgramApi__Program_Profile__c.Program_Profile_Credit_Audit_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Audit_Email_via_Program_Profile</name>
        <label>Send Audit Email via Program Profile</label>
        <locationX>824</locationX>
        <locationY>582</locationY>
        <actionName>ProgramApi__Program_Profile__c.Send_Audit_Email_via_Program_Profile</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProgramApi__Program_Profile__c.Send_Audit_Email_via_Program_Profile</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_after_Audit_has_been_Submitted_by_EU</name>
        <label>Send Email after Audit has been Submitted by EU</label>
        <locationX>1104</locationX>
        <locationY>693</locationY>
        <actionName>ProgramApi__Program_Profile__c.Send_Email_after_Audit_has_been_Submitted_by_EU</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProgramApi__Program_Profile__c.Send_Email_after_Audit_has_been_Submitted_by_EU</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_badge_type</name>
        <label>check badge type</label>
        <locationX>535</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>badge_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Badge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Retake_Badges</targetReference>
            </connector>
            <label>badge exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Process</name>
        <label>Check Process</label>
        <locationX>1097</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exam_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FON_Exam_Results__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Badge</targetReference>
            </connector>
            <label>Exam Failed</label>
        </rules>
        <rules>
            <name>Audit_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FON_Audit_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FON_Audited__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FON_Audited__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Audit_Email_via_Program_Profile</targetReference>
            </connector>
            <label>Audit Process</label>
        </rules>
        <rules>
            <name>Audit_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FON_Audit_Submitted_Date_By_EU__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FON_Audit_Submitted_Date_By_EU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_after_Audit_has_been_Submitted_by_EU</targetReference>
            </connector>
            <label>Audit Submitted</label>
        </rules>
        <rules>
            <name>File_Status</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FON_Audit_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FON_Audit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Profile_Credit_Audit_Notification</targetReference>
            </connector>
            <label>File Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_user_badges</name>
        <label>check user badges</label>
        <locationX>534</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Create_Retake_Badge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>w_badges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Retake_Badges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>w/ badges</label>
        </rules>
    </decisions>
    <description>- this will send email alert when a program profile is marked for audit
- this will send email to admins when a program profile is closed/completed</description>
    <environments>Default</environments>
    <formulas>
        <name>nextYearDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) + 1, MONTH(TODAY()), DAY(TODAY()))</expression>
    </formulas>
    <interviewLabel>TRIGGER: Send Audit Email Via Program Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROGRAM PROFILE: General Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Retake_Badge</name>
        <label>Create Retake Badge</label>
        <locationX>552</locationX>
        <locationY>885</locationY>
        <inputAssignments>
            <field>OrderApi__Awarded_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Badge_Type__c</field>
            <value>
                <elementReference>Get_Badge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Contact__c</field>
            <value>
                <elementReference>$Record.ProgramApi__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Expired_Date__c</field>
            <value>
                <elementReference>nextYearDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderApi__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Badge</name>
        <label>Get Badge</label>
        <locationX>546</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_badge_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCP Exam Retake</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Retake_Badges</name>
        <label>Get Contact Retake Badges</label>
        <locationX>543</locationX>
        <locationY>591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_user_badges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProgramApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Badge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Badge.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Process</targetReference>
        </connector>
        <object>ProgramApi__Program_Profile__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
