unpackaged/main/default/flows/Update_Sponsoring_Relationship_Status_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A2</name>
        <label>Notify ECCHO Staff Sponsor agreement Awaiting Approval</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Sponsoring_Relationships__c.Notify_ECCHO_Staff_Sponsorship_Agreement_is_Ready_for_Approval_and_Download</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sponsoring_Relationships__c.Notify_ECCHO_Staff_Sponsorship_Agreement_is_Ready_for_Approval_and_Download</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_22_A2</name>
        <label>Send Email to Sponsoring Org to Review</label>
        <locationX>50</locationX>
        <locationY>2747</locationY>
        <actionName>Sponsoring_Relationships__c.Send_Notification_to_Sponsoring_Organization_They_Need_to_Do_a_Final_Review_of_A</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_26</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sponsoring_Relationships__c.Send_Notification_to_Sponsoring_Organization_They_Need_to_Do_a_Final_Review_of_A</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_26_A2</name>
        <label>Notify ECCHO Staff of FINAL Approval</label>
        <locationX>50</locationX>
        <locationY>3155</locationY>
        <actionName>Sponsoring_Relationships__c.Notify_ECCHO_Staff_Sponsorship_Agreement_is_Ready_for_Approval_and_Download</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_31</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sponsoring_Relationships__c.Notify_ECCHO_Staff_Sponsorship_Agreement_is_Ready_for_Approval_and_Download</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_31_A2</name>
        <label>Send Email Alert Member</label>
        <locationX>50</locationX>
        <locationY>3563</locationY>
        <actionName>Sponsoring_Relationships__c.Notify_Member_after_Sponsored_Membership_Approved_Active</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_31_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sponsoring_Relationships__c.Notify_Member_after_Sponsored_Membership_Approved_Active</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_31_A3</name>
        <label>Send Email SMC</label>
        <locationX>50</locationX>
        <locationY>3671</locationY>
        <actionName>Sponsoring_Relationships__c.Notify_SM_after_Sponsored_Membership_Approved_Active</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sponsoring_Relationships__c.Notify_SM_after_Sponsored_Membership_Approved_Active</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Application is Complete?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Application is Complete?</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Submission_Options__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I Am Scanning and Attaching a PDF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Submission_Options__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I Am Mailing the Executed Member Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Application is Complete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Primary Contact Changed</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>myRule_14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Primary Contact Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_Lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Primary Contact Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14</name>
        <label>Update Rules Access for Primary Contact</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Rules Access for Primary Contact</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rules_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact_Lookup__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Contact_Lookup__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Update Rules Access for Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>Executed By Contact Changed</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Executed By Contact Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Executed_By_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Executed_By_Lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>TRUE_Executed By Contact Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>Application is Being Sent to Child Account</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Application is Being Sent to Child Account</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Submission_Options__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I Am Sending an Invitation to the Potential Member to Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Application is Being Sent to Child Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>Application Has Been Accepted By Child</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>myRule_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Application Has Been Accepted By Child</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FON_I_Agree_to_the_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FON_I_Agree_to_the_Terms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE_Application Has Been Accepted By Child</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26</name>
        <label>Application Approved by Parent (FINAL Approval)</label>
        <locationX>182</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>myRule_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Application Approved by Parent (FINAL Approval)</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_26</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_Have_Verified_The_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_Have_Verified_The_Information__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Approved_by_Sponsor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>TRUE_Application Approved by Parent (FINAL Approval)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_31</name>
        <label>Application Has Been Approved by ECCHO</label>
        <locationX>182</locationX>
        <locationY>3347</locationY>
        <defaultConnectorLabel>FALSE_Application Has Been Approved by ECCHO</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_31</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Accepted_by_ECCHO__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Accepted_by_ECCHO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>TRUE_Application Has Been Approved by ECCHO</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Sponsoring Account Changed</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>myRule_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sponsoring Account Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sponsoring_Organization__r.FON_Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sponsoring_Organization_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_Sponsoring Account Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8</name>
        <label>Sponsored Account Changed</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sponsored Account Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sponsored_Organization__r.FON_Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sponsored_Organization__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>TRUE_Sponsored Account Changed</label>
        </rules>
    </decisions>
    <description>Migrated from the Update Sponsoring Relationship Status process using multiple criteria.
Updates the Sponsor Relationship Status Based on Fields Populated</description>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <label>Update Sponsoring Relationship Status_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_11_A1</name>
        <label>Update Contact Fields</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>myRule_14</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Primary_Contact_Lookup__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_First_Name__c</field>
            <value>
                <elementReference>$Record.Primary_Contact_Lookup__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Last_Name__c</field>
            <value>
                <elementReference>$Record.Primary_Contact_Lookup__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Office_Number__c</field>
            <value>
                <elementReference>$Record.Primary_Contact_Lookup__r.OrderApi__Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Title__c</field>
            <value>
                <elementReference>$Record.Primary_Contact_Lookup__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_14_A1</name>
        <label>Update Contact Record to Has Rules Access = TRUE</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>myRule_16</targetReference>
        </connector>
        <inputAssignments>
            <field>FON_Has_Rules_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Primary_Contact_Lookup__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_16_A1</name>
        <label>Update Contact Fields</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>myRule_19</targetReference>
        </connector>
        <inputAssignments>
            <field>Executed_By_Email__c</field>
            <value>
                <elementReference>$Record.Executed_By_Lookup__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executed_By_First_Name__c</field>
            <value>
                <elementReference>$Record.Executed_By_Lookup__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executed_By_Last_Name__c</field>
            <value>
                <elementReference>$Record.Executed_By_Lookup__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executed_By_Title__c</field>
            <value>
                <elementReference>$Record.Executed_By_Lookup__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A1</name>
        <label>Update Sponsor Relationship Status</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>myRule_22</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Submitted_for_Review__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted to Sponsored Org Account for Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Sponsor Relationship Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Approved_by_Sponsor__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted_for_Review__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FON_Date_Agreement_was_Approved_by_Child__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Final Review by ECCHO Staff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_22_A1</name>
        <label>Update Sponsoring Relationship Status</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>myRule_22_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted to Sponsored Org Account for Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FON_Date_Agreement_was_Approved_by_Child__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted to Sponsoring Account for Final Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_26_A1</name>
        <label>Update Application Status</label>
        <locationX>50</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>myRule_26_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Approved_by_Sponsor__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Final Approval by Sponsor</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A1</name>
        <label>Application Has Been Approved by ECCHO</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>myRule_31_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Accepted_by_ECCHO__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A1</name>
        <label>Update Sponsoring Account Field</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>myRule_8</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Sponsoring_the_Membership__c</field>
            <value>
                <elementReference>$Record.Sponsoring_Organization__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_8_A1</name>
        <label>Update Sponsored Account Fields</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>myRule_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Legal_Organization_Name__c</field>
            <value>
                <elementReference>$Record.Sponsored_Organization__r.FON_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_R_T_Number__c</field>
            <value>
                <elementReference>$Record.Sponsored_Organization__r.Primary_R_T_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Sponsoring_Relationships__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
